
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply text-neutral-900;
    font-family: 'Roboto', sans-serif;
}

body {
    @apply bg-gray-50;
}
