services:
  # TEMP SERVER 
  backend:
    build:
      context: ./
      dockerfile: server/Dockerfile
    container_name: backend_app
    ports:
      - "3001:3001"
    volumes:
      - ./server:/app/server
    environment:
      - NODE_ENV=development
    command: npm run dev:server

  # Frontend 
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - VITE_API_URL=http://localhost:3001
    depends_on:
      - backend
    command: npm run dev
